
BODY, HTML {
	font-family: 'Pangram', sans-serif;
	font-style: normal;
	font-size: 11px;
	line-height: 1.4;
	width: 100%;
	min-width: 375px;
	height: 100%;
	color: var(--text-color);
}

body {
	// display: flex;
	// flex-direction: column;
	width: 100%;
	background-color: var(--site_bg-color);
}

.hidden {
	display: none !important;
}

button {
	cursor: pointer;
	border: none;
	background-color: transparent;
	padding: 0;
}

h1,
.main_title {
	text-decoration: none;
	color: var(--text-color);
	font-family: 'Presicav', sans-serif;
	font-weight: 400;
	font-size: 8vw;
	line-height: 1.2;
	letter-spacing: 0.2vw;
	text-transform: uppercase;
}

h2,
.sub_title {
	text-decoration: none;
	color: var(--text-color);
	font-family: 'Presicav', sans-serif;
	font-weight: 400;
	font-size: 6.400vw;
	line-height: 1.2;
	letter-spacing: 0.2vw;
	text-transform: uppercase;
}

h3,
.section_title {
	text-decoration: none;
	color: var(--text-color);
	font-family: 'Presicav', sans-serif;
	font-weight: 400;
	font-size: 4.800vw;
	letter-spacing: 0.1vh;
	text-transform: uppercase;
}


h4,
.item_title {
	text-decoration: none;
	color: var(--text-color);
	font-family: 'Presicav', sans-serif;
	font-weight: 400;
	font-size: 4vw;
	line-height: 1.4;
	text-transform: uppercase;
}

h5 {
	text-decoration: none;
	color: var(--text-color);
	font-family: 'Presicav', sans-serif;
	font-weight: 400;
	font-size: 2.667vw;
	line-height: 1.4;
	text-transform: uppercase;
}

a {
	&.main_title,
	&.sub_title,
	&.section_title,
	&.item_title {
		transition: 0.3s;

		&:hover {
			opacity: 0.5;
		}
	}
}

.icon {
	width: 16px;
	height: 16px;
	fill: var(--icon-color);
	transition: 0.3s;
}

a {
	&:not([class]) {
		font-family: 'Pangram', sans-serif;
		text-decoration: none;
		font-size: 12px;
		line-height: 1.4;
		color: var(--link-color);
		display: inline-block;
	}

	&.arrow_link {
		text-transform: uppercase;
		text-decoration: none;
		font-size: inherit;
		line-height: inherit;
		color: var(--link-color);
		display: flex;
		align-items: center;

		&:hover {

			.icon {
				transform: translateX(5px);
			}
		}

		&.inactive {
			opacity: 0.4;

			.icon {
				transform: none;
			}
		}

		.icon {
			fill: var(--link-color);
			margin-left: 5px;
			width: 10px;
			height: 10px;
			transition: 0.3s;
		}

		&.arrow_dark {
			color: var(--text-color-contrast);

			.icon {
				fill: var(--text-color-contrast);
			}
		}
	}

	&:active {
		color: inherit;  /* НЕ УДАЛЯТИ */
	}
}

article {
	font-family: 'Pangram', sans-serif;
	font-size: 14px;

	a:not([class]) {
		transition: 0.3s;
		text-decoration: underline;
	}

	a:not([class]):hover {
		opacity: 0.4;
	}

	ul {
		padding-left: 25px;
		list-style: disc;
	}

	& > * {
		margin-bottom: 15px;
	}
}

.btn {
	font-family: 'Pangram', sans-serif;
	font-size: 12px;
	line-height: 1;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--btn-text);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 24px 30px;
	background-color: var(--btn-bg);
	border: 1px solid var(--btn-border);
	border-radius: var(--border-r-size);
	transition: 0.3s;

	&:hover {
		color: var(--btn-hover-text);
		border-color: var(--btn-hover-border);
		background-color: var(--btn-hover-bg);

		.icon {
			transform: translateX(5px);
		}
	}

	&.active {
		color: var(--btn-hover-text);
		border-color: var(--btn-hover-border);
		background-color: var(--btn-hover-bg);
	}

	&.inactive {
		opacity: 0.4;
		cursor: unset;

		&:hover {
			color: var(--btn-text);
			border-color: var(--btn-border);
			background-color: var(--btn-bg);

			.icon {
				transform: none;
			}
		}
	}

	&.dark_btn{
		color: var(--btn-contrast-text);
		border-color: var(--btn-contrast-border);
		background-color: var(--btn-contrast-bg);

		&.active {
			color: var(--btn-contrast-hover-text);
			border-color: var(--btn-contrast-hover-border);
			background-color: var(--btn-contrast-hover-bg);

			.icon {
				fill: var(--btn-contrast-hover-text);
			}
		}

		&:hover {
			color: var(--btn-contrast-hover-text);
			border-color: var(--btn-contrast-hover-border);
			background-color: var(--btn-contrast-hover-bg);

			.icon {
				fill: var(--btn-contrast-hover-text);
			}
		}

		&.inactive {

			&:hover {
				color: var(--btn-contrast-text);
				border-color: var(--btn-contrast-border);
				background-color: var(--btn-contrast-bg);	

				.icon {
					fill: var(--btn-contrast-text);
				}
			}
		}

		.icon {
			fill: var(--btn-contrast-text);
		}
	}

	.icon {
		margin-left: 5px;
		width: 10px;
		height: 10px;
		fill: var(--btn-text);
	}	
}

.input_wrap {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-bottom: 10px;
}

input[type=email],
input[type=text] {
	font-family: 'Pangram';
	font-size: 11px;
	line-height: 1.4;
	display: flex;
	align-items: center;
	padding: 0 15px 0 20px;
	height: 60px;
	min-height: 60px;
	background-color: var(--main-color);
	border: 1px solid var(--border-color);
	border-radius: var(--border-r-size);
	transition: 0.3s;
	position: relative;
	outline: none;

	&::placeholder {
		opacity: 0.4;
	}

	&.error {
		border-color: var(--error-color);
	}
}

.error_text {
	font-family: 'Cabin';
	font-size: 11px;
	line-height: 1.4;
	color: var(--error-color);
	display: inline-block;
	margin-bottom: 3px;
}

/* ДРОПДАУН */

.dropdown {
    position: relative;
	margin-bottom: 10px;
    height: 60px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-r-size);
	z-index: 1;
    transition: .3s;
}

.dropdown.error {
	border-color: var(--error-color);
}

.dropdown_short {
    width: 68px;
    height: 30px;
    margin: 0 20px;
    color: #1d1d1d
}

.dropdown_short:hover .drop_arrow {
    background-color: #5ead5a
}

.dropdown.dropdown_short.dropdown-open {
    width: 68px
}

.dropdown .overflow {
    width: 100%;
    height: 100%;
    padding: 0 90px 0 0;
    background-color: var(--main-color);
    position: relative;
	border-radius: var(--border-r-size);
    float: left;
}

.dropdown.short .overflow {
	width: 138px
}

.dropdown.dropdown-open .overflow {
	z-index: 10;
	border-bottom: 1px solid var(--border-color);
}

.dropdown Span {
	font-family: 'Pangram';
	font-size: 11px;
	line-height: 1.4;
    cursor: pointer;
    height: 100%;
    padding: 0 0 0 20px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    z-index: 2;
}

.dropdown_short Span {
    padding: 0 10px
}

.dropdown UL {
    position: absolute;
    top: 50px;
    right: -1px;
    left: -1px;
    background: var(--main-color);
    border: 1px solid var(--border-color);
    border-bottom-right-radius: var(--border-r-size);
    border-bottom-left-radius: var(--border-r-size);
    z-index: 4;
	padding-top: 10px;
    margin: 0;
    border-top: none;
    display: none;
}

.dropdown_short ul {
    border-radius: 3px;
    top: 28px;
    overflow: auto;
}

.dropdown UL LI {
    position: relative;
    float: left;
    background: none;
    width: 100%;
    font-size: 15px;
    line-height: 1.2;
}

.dropdown_short UL LI {
    border: none
}

.dropdown UL LI A {
	font-family: 'Pangram';
    font-size: 11px;
	line-height: 1.4;
    text-decoration: none;
    position: relative;
	width: 100%;
    float: left;
    padding: 12px 20px;
    transition: .3s
}

.dropdown_short ul li a {
    color: #1d1d1d;
    text-align: center;
    padding: 6px 0
}

.dropdown UL LI A:hover {
    opacity: 0.5;
}

.dropdown_short ul li a:hover {
    background-color: #e6e6e6;
    color: initial
}

.dropdown UL LI A.selected {
    display: none
}

.drop_arrow {
	position: absolute;
    right: 10px;
    top: 50%;
	transform: translateY(-50%);
    background-color: transparent;
    border: none;
	display: flex;
	align-items: center;
	justify-content: center;
    width: 70px;
    height: 40px;
	border-radius: var(--border-r-size);
	border: 1px solid var(--border-color);
    transition: background-color .3s;
    cursor: pointer;
}

.dropdown.dropdown-open .drop_arrow,
.drop_arrow:hover {
	background-color: var(--neutral-color);
}

.drop_arrow .icon {
	width: 10px;
	height: 10px;
	transition: 0.3s;
}

.dropdown.dropdown-open .drop_arrow .icon {
	transform: rotate(180deg);
}

.dropdown_short .drop_arrow {
    right: -1px;
    top: -1px;
    background-color: #70c46a;
    border-radius: 0 3px 3px 0;
    width: 31px;
    height: 30px
}

.dropdown_short .drop_arrow:after {
    border-width: 6px 3.5px 0 3.5px;
    border-color: #ffffff transparent transparent transparent;
    margin-left: -3.5px
}

.dropdown_sm {
    background-color: #fff;
    height: 45px
}

.dropdown_sm .drop_arrow {
    width: 45px;
    height: 45px
}

.dropdown_sm .drop_arrow:after {
    border-width: 8px 6px 0 6px;
    border-color: #fff transparent transparent transparent;
    margin: -4px 0 0 -6px
}

.options_dropdown_list UL LI {
    position: relative;
    padding: 0 0 0 10px
}

.options_dropdown_list UL LI:before {
    content: '';
    width: 4px;
    height: 4px;
    background-color: #000;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 11px
}

.options_dropdown_list UL LI A {
    text-decoration: none;
    color: #117f8a;
    -webkit-transition: color .3s;
    transition: color .3s
}

.options_dropdown_list UL LI A:hover {
    color: #000
}

.options_dropdown_tile UL {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 0 0 0
}

.options_dropdown_tile UL LI {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    margin: 0 3px 3px 0
}

.options_dropdown_tile UL LI A {
    text-decoration: none;
    background-color: #f3f3f3;
    color: #000;
    padding: 5px 10px;
    -webkit-transition: .3s;
    transition: .3s
}

.options_dropdown_tile UL LI A:hover {
    background-color: #117f8a;
    color: #fff
}

.options_dropdown_tile UL LI.disabled {
    opacity: .5
}

.options_dropdown_tile UL LI.disabled a {
    cursor: default
}

.options_dropdown_tile UL LI.disabled a:hover {
    background-color: #f3f3f3;
    color: #000
}

.zoom_photo {
	overflow: hidden;
	display: block;

	&:hover img {
		transform: scale(130%);
	}

	img {
		transition: 0.5s;
	}
}

.toggle_list {
	display: flex;
	flex-wrap: wrap;
	padding-right: 60px;
}

.toggle_wrap {
	position: relative;
}

.toggle_wrap + .toggle_wrap {
	margin-left: 10px;
}

.toggle_btn {
	font-family: 'Pangram';
	text-decoration: none;
	text-transform: uppercase;
	color: var(--btn-text);
	font-size: 12px;
	line-height: 1.4;
	display: flex;
	align-items: center;
	padding: 0 30px;
	width: max-content;
	height: 40px;
	border: 1px solid var(--btn-border);
	border-radius: var(--border-r-size);
	transition: 0.3s;

	span {
		margin-top: 3px;
	}

	.icon {
		width: 9px;
		height: 9px;
		margin-left: 5px;
	}

}

.toggle_wrap.active .toggle_btn,
.toggle_btn:hover {
	background-color: var(--btn-hover-bg);
}

.toggle_inner {
	flex-direction: column;
	max-width: 220px;
	width: max-content;
	padding: 15px 30px 12px 30px;
	border: 1px solid var(--btn-border);
	border-radius: var(--border-r-size);
	background-color: var(--btn-bg);
	position: absolute;
	left: 0;
	top: calc(100% + 10px);
	z-index: 1;
	display: none;

	label {
		margin-bottom: 10px;
		text-transform: uppercase;
		cursor: pointer;
		transition: 0.3s;

		&:hover {
			opacity: 0.7;
		}
	}

	input {
		display: none;

		& + span {
			padding-left: 20px;
			position: relative;

			&::before {
				content: "";
				width: 10px;
				height: 10px;
				border-radius: 50%;
				border: 1px solid var(--border-color);
				opacity: 0.5;
				position: absolute;
				top: 0;
				left: 0;
				transition: 0.3;
			}
		}

		&:checked + span::before {
			opacity: 1;
			background-color: var(--btn-hover-bg);
		}

		
	}
}

.toggle_wrap.active .toggle_inner {
	display: flex;
}

.photo_anim {
	transition: 0.5s;
	transform: scale(1.3);
}

.show_top {
	transform: rotate3d(1, 0, 0, 90deg);
	transition: 0.5s;
	transform-origin: top;
}

.show_top.anim_finish {
	transform: none;
}
