/*
----- БЛОГ-СЛАЙДЕР -----
*/
.blog_slider {
    border-bottom: 1px solid var(--border-color);
    border-top: none;
    position: relative;
}

.text_blog-wrap {
    border-bottom: 1px solid var(--border-color);
    z-index: 5;
   
    &:not(.slick-initialized) {
        display: flex;
        overflow: hidden;

        .text_blog {
            flex: 0 0 100%;
        }
    }

    &.slick-initialized {

        & + .blog_slider-arrows {
            display: flex;
        }
    }

    .slick-list {
        z-index: 3;
    }

}

.text_blog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 45px 20px;
    width: 100%;
    min-height:  calc(var(--vh, 1vh) * 50);
    background-color: var(--neutral-color);
    position: relative;
    z-index: 3;

    .arrow_link {
        justify-content: center;
        margin: 15px 0;

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    time {
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
}

.blog_slider.blog_slider-anim .blog_slider-arrows {
    left: 0;
}

.blog_slider-arrows {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--main-color);
    width: 93px;
    height: calc(var(--vh, 1vh) * 35);
    min-height: 150px;
    border-right: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    position: absolute;
    bottom: 0;
    left: -150px;
    transition: 0.3s;
    z-index: 1;



    a {
        color: inherit;
        font-size: 10px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 50px;
        padding: 0 20px;

        span {
            margin-top: 2px;
        }
    }

    .icon {
        display: block;
        width: 8px;
        
        transition: 0.3s;
    }

    .arrow_left {
        .icon {
            transform: rotate(90deg);
        }

        &:hover {
            .icon {
                transform:translateX(-3px) rotate(90deg);
            }
        }
    }

    .arrow_right {
        .icon {
            transform: rotate(-90deg);
        }

        &:hover {
            .icon {
                transform: translateX(3px) rotate(-90deg);
            }
        }
    }

}

.photo_blog-wrap {
    height:  calc(var(--vh, 1vh) * 50);

    .slick-list {
        height: 100%;
    }

    .slick-track {
        height: 100%;
    }
}

.photo_blog {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}