.catalog {
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
}

.filters_inner  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-y: auto;
    padding: 0 30px;
    width: 100%;
}

.catalog_filters {
    display: flex;
    align-items: center;
    padding: 18px 0;
    border-bottom: 1px solid var(--border-color);
    position: relative;

    .section_title {
        margin-right: 40px;
    }

    .filters_list {
        display: flex;

    }
    
    .toggle_btn {

        & + .toggle_btn {
            margin-left: 10px;
        }
        
        &.active {
            background-color: var(--btn-hover-bg);

            .icon {
                transform: rotate(-180deg);
            }
        }
    } 
}

.fillters_hidden {
    bottom: 0;
    right: 0;

    .toggle_inner {
        top: calc(100% - 8px);
        right: 30px;
        left: auto;
    }

    .toggle_inner.opened {
        display: flex;
    }
}

.catalog_list {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(400px, 70vh) ;

    figure {
        position: relative;
        border-bottom: 1px solid var(--border-color);
    }

    figcaption {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        width: 100%;
        height: 80px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: var(--main-color);
        border-top: 1px solid var(--border-color);

        .item_title {
            padding: 10px;
        }

        .arrow_link {
            padding: 10px;
        }

        .btn {
            padding: 10px 15px;
        }
    }
}

.catalog_image {
    display: block;
    width: 100%;
    height: 100%;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.arrow_link.catalog_link {
    justify-content: center;
    border-bottom: 1px solid var(--border-color);
    // border-right: 1px solid var(--border-color);
    width: 100%;

    // &:nth-child(2n+1) {
    //     border-right: none;
    // }
}