/*
----- КОНТАКТИ СІТКА -----
*/
.contacts_grid {
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.cantacts_item {
    border-bottom: 1px solid var(--border-color);
    padding: 30px 20px;
    
    .sub_title {
        margin-bottom: 10px;
    }
}

.contacts_header {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.contacts_text {
    font-size: 11px;
}

.contacts_bottom {
    display: flex;
    flex-direction: column;

    a {
        font-family: 'Presicav';
        font-size: 18px;
        transition: 0.3s;

        &:hover {
            opacity: 0.5;
        }

        & + a  {
            margin-top: 10px;
        }
    }
}