/*
----- ОПИС -----
*/
.description {
    
    figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 20px;
        border-bottom: 1px solid var(--border-color);

        .sub_title {
            display: block;
            text-align: center;
        }

        &.temp_two {
            padding: 50px 0 0 0;
            border-bottom: none;
            border-left: none;
            border-right: none;

            .sub_title {
                text-align: start;
                margin-bottom: 130px;
            }
            
            figcaption {
                order: -1;
                padding: 0 20px;
            }
    
            .desc_images {
                width: 100%;
                margin: 0;
            }
        }
    }
}

.desc_images {
    display: block;
    border: 1px solid var(--border-color);
    margin-bottom: 50px;

    img {
        width: 100%;
        min-height: 200px;
        object-fit: cover;
        height: auto;
    }
}

.description_text {
    font-size: 11px;
    display: block;
    margin-bottom: 20px;
    max-width: 445px;
    margin-left: auto;
}

.description_list {

    li {
        font-family: 'Presicav';
        font-size: 15px;
        line-height: 1.4;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        display: flex;
        flex-direction: column;
        padding: 24px 20px 30px 20px;
        border-bottom: 1px solid var(--border-color);

        b {
            font-size: 30px;
            line-height: 1.2;
            margin-bottom: 10px;
            font-weight: 400;
        }
    }
}