.site_header {
    display: flex;
    align-items: center;
    padding: 0 15px 0 20px;
    height: 58px;
    border: 1px solid var(--border-color);
    position: relative;
    transition: 0.3s;
}

.open_menu {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Pangram';
    font-size: 12px;
    line-height: 1.4;
    color: var(--link-color);
    padding: 6px 5px 6px 42px;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    overflow: hidden;

    &:hover {
        opacity: 0.5;
    }

    &::before,
    &::after {
        content: '';
        width: 27px;
        height: 1px;
        background-color: var(--link-color);
        position: absolute;
        left: 0;
        animation: show_menu-btn 0.5s ease-in;
    }

    &::before {
        top: calc(50% + 2px);
    }

    &::after {
        bottom: calc(50% + 2px);
    }

    span {
        display: block;
        position: relative;
        animation: show_menu-text 0.5s ease-in;
    }
}

.header_logo {
    display: block;
    width: 104px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    img {
        display: block;
        width: 100%;
        animation: show_menu-logo 0.5s ease-in;
    }
}

.toggle_lang {
    display: none;
}

.wishlist_btn {
    font-family: 'Pangram';
    text-transform: uppercase;
    text-decoration: none;
    color: var(--link-color);
    font-size: 12px;
    line-height: 1.4;
    margin-left: auto;
    padding: 6px;
    transition: 0.3s;
    overflow: hidden;

    &:hover {
        opacity: 0.5;
    }

    span {
        display: block;
        animation: show_menu-text 0.5s ease-in;
    }

}

.header_search {
    display: none;
}

@keyframes show_menu-btn {
    0% {
        transform: translateX(-100%);
    }
    
    100% {
        transform: translateX(0);
    }
}

@keyframes show_menu-text {
    0% {
        transform: translateY(-100%);
    }
    
    100% {
        transform: translateY(0);
    }
}

@keyframes show_menu-logo {
    0% {
        transform: translateY(-100%);
    }
    
    100% {
        transform: translateY(0);
    }
}