.text_banner {
    border: 1px solid var(--border-color);
    border-top: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 20px 30px 20px;
    min-height: 70vh;

    .main_title {
        width: 100%;
        max-width: 915px;
        margin-bottom: 50px;
    }

    .dropdown {
        margin-bottom: 0;
        order: 1;

        .overflow {
            span {
                justify-content: flex-end;
            }
        }
    }
}

.banner_inner {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    direction: rtl;
    align-items: flex-end;
}