@media only screen and (min-width : 480px)  {
    
}

@media only screen and (min-width : 640px)  {
    
}

@media only screen and (min-width : 768px)  {
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 12px;
    }

}

@media only screen and (min-width : 1024px) {
    
}

@media only screen and (min-width : 1280px) {
    
}