@font-face {
    font-family: 'Presicav';
    src: url('../fonts/PresicavLt-Regular.eot');
    src: url('../fonts/PresicavLt-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PresicavLt-Regular.woff') format('woff'),
        url('../fonts/PresicavLt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pangram';
    src: url('../fonts/PPPangramSans-Medium.eot');
    src: url('../fonts/PPPangramSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PPPangramSans-Medium.woff') format('woff'),
        url('../fonts/PPPangramSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url('../fonts/Cabin-Medium.eot');
    src: url('../fonts/Cabin-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cabin-Medium.woff') format('woff'),
        url('../fonts/Cabin-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}