/* variables */
:root {
	--main-color: #F5F4EB;
	--neutral-color: #CDCDC3;
	--sub_main-color: #201E1E;
	--site_bg-color: #F5F4EB;
	--text-color: #201E1E;
	--btn-border: #201E1E;
	--btn-bg: #F5F4EB;
	--btn-text: #201E1E;
	--btn-hover-border: #201E1E;
	--btn-hover-bg: #CDCDC3;
	--btn-hover-text: #201E1E;
	--btn-contrast-border: #201E1E;
	--btn-contrast-bg: #201E1E;
	--btn-contrast-text: #F5F4EB;
	--btn-contrast-hover-border: #201E1E;
	--btn-contrast-hover-bg: #CDCDC3;
	--btn-contrast-hover-text: #201E1E;
	--link-color: #201E1E;
	--input-border: #201E1E;
	--input-bg: #F5F4EB;
	--input-text: #201E1E;
	--icon-color: #201E1E;
	--border-color: #201E1E;
	--error-color: #F18968;

	--border-r-size: 10px;
}
