@media only screen and (min-width: 480px) {
  h3,
.section_title {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 12px;
  }

  .footer_menu > li > a,
.subscribe_title {
    font-size: 18px;
  }
}
@media only screen and (min-width: 640px) {
  .banner_text .slide_text {
    margin-left: auto;
    width: 220px;
  }
}
@media only screen and (min-width: 768px) {
  h1,
.main_title {
    font-size: 60px;
  }

  h2,
.sub_title {
    font-size: 40px;
  }

  .toggle_lang {
    display: flex;
    margin-left: auto;
    overflow: hidden;
  }
  .toggle_lang.active ul {
    display: flex;
  }
  .toggle_lang ul {
    display: flex;
    align-items: center;
    margin-right: 8px;
    display: none;
  }
  .toggle_lang li {
    font-family: "Pangram";
    text-transform: uppercase;
    color: var(--link-color);
    font-size: 12px;
    line-height: 1.4;
    padding: 6px;
    opacity: 0.5;
    transition: 0.3s;
  }
  .toggle_lang li:hover {
    opacity: 1;
  }

  .header_search {
    font-family: "Pangram";
    text-transform: uppercase;
    text-decoration: none;
    color: var(--link-color);
    font-size: 12px;
    line-height: 1.4;
    display: block;
    margin-left: 18px;
    padding: 6px;
    transition: 0.3s;
    overflow: hidden;
  }
  .header_search:hover {
    opacity: 0.5;
  }
  .header_search span {
    display: block;
  }

  .open_lang {
    font-family: "Pangram";
    text-transform: uppercase;
    color: var(--link-color);
    font-size: 12px;
    line-height: 1.4;
    padding: 6px;
    transition: 0.3s;
    overflow: hidden;
  }
  .open_lang:hover {
    opacity: 0.5;
  }
  .open_lang span {
    display: block;
  }

  .wishlist_btn {
    margin-left: 18px;
  }

  .footer_menu {
    grid-template-columns: repeat(4, 1fr);
    padding: 0 30px;
  }

  .first_img,
.second_img,
.third_img {
    width: 215px;
    height: 290px;
  }

  .second_img {
    margin-top: 44px;
  }

  .third_img {
    margin-top: -150px;
  }

  .text_blog {
    padding: 30px;
  }
  .text_blog .section_title {
    width: calc(100% - 350px);
    margin-left: auto;
    text-align: end;
  }
  .text_blog time {
    left: 30px;
    bottom: 30px;
    max-width: 150px;
  }

  .tile_bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 138px;
  }
  .tile_bottom .section_title {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .site_footer {
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
  }

  .site_footer nav {
    width: 66.875%;
  }

  .footer_subscribe {
    margin-top: 0;
    width: 33.125%;
    min-height: calc(100vh - 78px);
    border-top: none;
    border-bottom: none;
    border-left: 1px solid var(--border-color);
    position: relative;
  }
  .footer_subscribe::after {
    content: "";
    width: 1px;
    height: 78px;
    background-color: var(--border-color);
    position: absolute;
    top: 100%;
    left: -1px;
  }

  .copyright {
    width: 100%;
    padding: 0;
  }

  .copyright_evalendel {
    display: flex;
    align-items: center;
    width: 66.875%;
    height: 100%;
    padding: 0 30px;
  }

  .copyright_sufix {
    display: flex;
    align-items: center;
    width: 33.125%;
    height: 100%;
    padding: 0 30px;
  }
  .copyright_sufix a {
    margin: 0 3px;
  }

  .banner_two {
    flex-direction: row-reverse;
    height: calc(var(--vh, 1vh) * 50);
    min-height: 420px;
    border-bottom: 1px solid var(--border-color);
  }

  .banner_text {
    width: 50%;
    height: 100%;
    border-left: 1px solid var(--border-color);
  }
  .banner_text .sub_title {
    max-height: 200px;
  }
  .banner_text .slide_text {
    max-height: 195px;
    align-items: flex-start;
  }

  .banner_photo {
    height: 100%;
    width: 50%;
  }

  .blog_slider {
    display: flex;
  }

  .text_blog-wrap {
    width: 50%;
    border-bottom: none;
    border-right: 1px solid var(--border-color);
  }
  .text_blog-wrap.slick-initialized::before {
    bottom: 0;
    left: calc(100% + 1px);
  }
  .text_blog-wrap .slick-arrow.slick-prev {
    top: 100px;
    left: 100%;
  }
  .text_blog-wrap .slick-arrow.slick-next {
    bottom: 0;
    left: 100%;
  }

  .photo_blog-wrap {
    width: 50%;
  }

  .tile_bottom {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    position: relative;
  }
  .tile_bottom .section_title {
    text-align: end;
  }
  .tile_bottom .arrow_link {
    order: 0;
    padding: 20px;
  }
  .tile_bottom .sub_title {
    display: block;
  }
}
@media only screen and (min-width: 1280px) {
  .mini_slider {
    min-height: 60vh;
  }
  .mini_slider .slide {
    min-height: 60vh;
  }

  .three_photo {
    position: relative;
    padding-top: 148px;
    padding-bottom: 105px;
    margin-bottom: 210px;
  }
  .three_photo::after {
    bottom: -210px;
  }
  .three_photo .main_title {
    margin: 0 auto;
    padding: 0 15px;
    max-width: calc(100% - 460px);
    width: calc(100% - 20px);
  }
  .three_photo .main_title > * + * {
    margin-top: 30px;
  }

  .second_img {
    position: absolute;
    left: 30px;
    bottom: 100px;
    margin: 0;
  }

  .third_img {
    position: absolute;
    bottom: 0;
    right: 30px;
    margin: 0;
  }

  .link_item {
    overflow: hidden;
  }
  .link_item.anim_item a span {
    display: block;
    animation: thee_photo-link 1s ease-in-out;
  }
  .link_item a span {
    display: block;
    transition: 1s;
    opacity: 1;
    transform: translateY(0);
  }

  @keyframes thee_photo-link {
    0% {
      transform: translateY(0);
    }
    49% {
      transform: translateY(-120%);
    }
    50% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
}