@charset "UTF-8";
@font-face {
  font-family: "Presicav";
  src: url("../fonts/PresicavLt-Regular.eot");
  src: url("../fonts/PresicavLt-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PresicavLt-Regular.woff") format("woff"), url("../fonts/PresicavLt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Pangram";
  src: url("../fonts/PPPangramSans-Medium.eot");
  src: url("../fonts/PPPangramSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/PPPangramSans-Medium.woff") format("woff"), url("../fonts/PPPangramSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cabin";
  src: url("../fonts/Cabin-Medium.eot");
  src: url("../fonts/Cabin-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Cabin-Medium.woff") format("woff"), url("../fonts/Cabin-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* variables */
:root {
  --main-color: #F5F4EB;
  --neutral-color: #CDCDC3;
  --sub_main-color: #201E1E;
  --site_bg-color: #F5F4EB;
  --text-color: #201E1E;
  --text-color-contrast: #F5F4EB;
  --btn-border: #201E1E;
  --btn-bg: #F5F4EB;
  --btn-text: #201E1E;
  --btn-hover-border: #201E1E;
  --btn-hover-bg: #CDCDC3;
  --btn-hover-text: #201E1E;
  --btn-contrast-border: #201E1E;
  --btn-contrast-bg: #201E1E;
  --btn-contrast-text: #F5F4EB;
  --btn-contrast-hover-border: #201E1E;
  --btn-contrast-hover-bg: #CDCDC3;
  --btn-contrast-hover-text: #201E1E;
  --link-color: #201E1E;
  --input-border: #201E1E;
  --input-bg: #F5F4EB;
  --input-text: #201E1E;
  --icon-color: #201E1E;
  --border-color: #201E1E;
  --error-color: #F18968;
  --border-r-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

menu,
ul,
ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track::before, .slick-track::after {
  content: "";
  display: table;
}
.slick-track::after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

BODY, HTML {
  font-family: "Pangram", sans-serif;
  font-style: normal;
  font-size: 11px;
  line-height: 1.4;
  width: 100%;
  min-width: 375px;
  height: 100%;
  color: var(--text-color);
}

body {
  width: 100%;
  background-color: var(--site_bg-color);
}

.hidden {
  display: none !important;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

h1,
.main_title {
  text-decoration: none;
  color: var(--text-color);
  font-family: "Presicav", sans-serif;
  font-weight: 400;
  font-size: 8vw;
  line-height: 1.2;
  letter-spacing: 0.2vw;
  text-transform: uppercase;
}

h2,
.sub_title {
  text-decoration: none;
  color: var(--text-color);
  font-family: "Presicav", sans-serif;
  font-weight: 400;
  font-size: 6.4vw;
  line-height: 1.2;
  letter-spacing: 0.2vw;
  text-transform: uppercase;
}

h3,
.section_title {
  text-decoration: none;
  color: var(--text-color);
  font-family: "Presicav", sans-serif;
  font-weight: 400;
  font-size: 4.8vw;
  letter-spacing: 0.1vh;
  text-transform: uppercase;
}

h4,
.item_title {
  text-decoration: none;
  color: var(--text-color);
  font-family: "Presicav", sans-serif;
  font-weight: 400;
  font-size: 4vw;
  line-height: 1.4;
  text-transform: uppercase;
}

h5 {
  text-decoration: none;
  color: var(--text-color);
  font-family: "Presicav", sans-serif;
  font-weight: 400;
  font-size: 2.667vw;
  line-height: 1.4;
  text-transform: uppercase;
}

a.main_title, a.sub_title, a.section_title, a.item_title {
  transition: 0.3s;
}
a.main_title:hover, a.sub_title:hover, a.section_title:hover, a.item_title:hover {
  opacity: 0.5;
}

.icon {
  width: 16px;
  height: 16px;
  fill: var(--icon-color);
  transition: 0.3s;
}

a:not([class]) {
  font-family: "Pangram", sans-serif;
  text-decoration: none;
  font-size: 12px;
  line-height: 1.4;
  color: var(--link-color);
  display: inline-block;
}
a.arrow_link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: inherit;
  line-height: inherit;
  color: var(--link-color);
  display: flex;
  align-items: center;
}
a.arrow_link:hover .icon {
  transform: translateX(5px);
}
a.arrow_link.inactive {
  opacity: 0.4;
}
a.arrow_link.inactive .icon {
  transform: none;
}
a.arrow_link .icon {
  fill: var(--link-color);
  margin-left: 5px;
  width: 10px;
  height: 10px;
  transition: 0.3s;
}
a.arrow_link.arrow_dark {
  color: var(--text-color-contrast);
}
a.arrow_link.arrow_dark .icon {
  fill: var(--text-color-contrast);
}
a:active {
  color: inherit;
  /* НЕ УДАЛЯТИ */
}

article {
  font-family: "Pangram", sans-serif;
  font-size: 14px;
}
article a:not([class]) {
  transition: 0.3s;
  text-decoration: underline;
}
article a:not([class]):hover {
  opacity: 0.4;
}
article ul {
  padding-left: 25px;
  list-style: disc;
}
article > * {
  margin-bottom: 15px;
}

.btn {
  font-family: "Pangram", sans-serif;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--btn-text);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 30px;
  background-color: var(--btn-bg);
  border: 1px solid var(--btn-border);
  border-radius: var(--border-r-size);
  transition: 0.3s;
}
.btn:hover {
  color: var(--btn-hover-text);
  border-color: var(--btn-hover-border);
  background-color: var(--btn-hover-bg);
}
.btn:hover .icon {
  transform: translateX(5px);
}
.btn.active {
  color: var(--btn-hover-text);
  border-color: var(--btn-hover-border);
  background-color: var(--btn-hover-bg);
}
.btn.inactive {
  opacity: 0.4;
  cursor: unset;
}
.btn.inactive:hover {
  color: var(--btn-text);
  border-color: var(--btn-border);
  background-color: var(--btn-bg);
}
.btn.inactive:hover .icon {
  transform: none;
}
.btn.dark_btn {
  color: var(--btn-contrast-text);
  border-color: var(--btn-contrast-border);
  background-color: var(--btn-contrast-bg);
}
.btn.dark_btn.active {
  color: var(--btn-contrast-hover-text);
  border-color: var(--btn-contrast-hover-border);
  background-color: var(--btn-contrast-hover-bg);
}
.btn.dark_btn.active .icon {
  fill: var(--btn-contrast-hover-text);
}
.btn.dark_btn:hover {
  color: var(--btn-contrast-hover-text);
  border-color: var(--btn-contrast-hover-border);
  background-color: var(--btn-contrast-hover-bg);
}
.btn.dark_btn:hover .icon {
  fill: var(--btn-contrast-hover-text);
}
.btn.dark_btn.inactive:hover {
  color: var(--btn-contrast-text);
  border-color: var(--btn-contrast-border);
  background-color: var(--btn-contrast-bg);
}
.btn.dark_btn.inactive:hover .icon {
  fill: var(--btn-contrast-text);
}
.btn.dark_btn .icon {
  fill: var(--btn-contrast-text);
}
.btn .icon {
  margin-left: 5px;
  width: 10px;
  height: 10px;
  fill: var(--btn-text);
}

.input_wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}

input[type=email],
input[type=text] {
  font-family: "Pangram";
  font-size: 11px;
  line-height: 1.4;
  display: flex;
  align-items: center;
  padding: 0 15px 0 20px;
  height: 60px;
  min-height: 60px;
  background-color: var(--main-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-r-size);
  transition: 0.3s;
  position: relative;
  outline: none;
}
input[type=email]::placeholder,
input[type=text]::placeholder {
  opacity: 0.4;
}
input[type=email].error,
input[type=text].error {
  border-color: var(--error-color);
}

.error_text {
  font-family: "Cabin";
  font-size: 11px;
  line-height: 1.4;
  color: var(--error-color);
  display: inline-block;
  margin-bottom: 3px;
}

/* ДРОПДАУН */
.dropdown {
  position: relative;
  margin-bottom: 10px;
  height: 60px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-r-size);
  z-index: 1;
  transition: 0.3s;
}

.dropdown.error {
  border-color: var(--error-color);
}

.dropdown_short {
  width: 68px;
  height: 30px;
  margin: 0 20px;
  color: #1d1d1d;
}

.dropdown_short:hover .drop_arrow {
  background-color: #5ead5a;
}

.dropdown.dropdown_short.dropdown-open {
  width: 68px;
}

.dropdown .overflow {
  width: 100%;
  height: 100%;
  padding: 0 90px 0 0;
  background-color: var(--main-color);
  position: relative;
  border-radius: var(--border-r-size);
  float: left;
}

.dropdown.short .overflow {
  width: 138px;
}

.dropdown.dropdown-open .overflow {
  z-index: 10;
  border-bottom: 1px solid var(--border-color);
}

.dropdown Span {
  font-family: "Pangram";
  font-size: 11px;
  line-height: 1.4;
  cursor: pointer;
  height: 100%;
  padding: 0 0 0 20px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
  z-index: 2;
}

.dropdown_short Span {
  padding: 0 10px;
}

.dropdown UL {
  position: absolute;
  top: 50px;
  right: -1px;
  left: -1px;
  background: var(--main-color);
  border: 1px solid var(--border-color);
  border-bottom-right-radius: var(--border-r-size);
  border-bottom-left-radius: var(--border-r-size);
  z-index: 4;
  padding-top: 10px;
  margin: 0;
  border-top: none;
  display: none;
}

.dropdown_short ul {
  border-radius: 3px;
  top: 28px;
  overflow: auto;
}

.dropdown UL LI {
  position: relative;
  float: left;
  background: none;
  width: 100%;
  font-size: 15px;
  line-height: 1.2;
}

.dropdown_short UL LI {
  border: none;
}

.dropdown UL LI A {
  font-family: "Pangram";
  font-size: 11px;
  line-height: 1.4;
  text-decoration: none;
  position: relative;
  width: 100%;
  float: left;
  padding: 12px 20px;
  transition: 0.3s;
}

.dropdown_short ul li a {
  color: #1d1d1d;
  text-align: center;
  padding: 6px 0;
}

.dropdown UL LI A:hover {
  opacity: 0.5;
}

.dropdown_short ul li a:hover {
  background-color: #e6e6e6;
  color: initial;
}

.dropdown UL LI A.selected {
  display: none;
}

.drop_arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 40px;
  border-radius: var(--border-r-size);
  border: 1px solid var(--border-color);
  transition: background-color 0.3s;
  cursor: pointer;
}

.dropdown.dropdown-open .drop_arrow,
.drop_arrow:hover {
  background-color: var(--neutral-color);
}

.drop_arrow .icon {
  width: 10px;
  height: 10px;
  transition: 0.3s;
}

.dropdown.dropdown-open .drop_arrow .icon {
  transform: rotate(180deg);
}

.dropdown_short .drop_arrow {
  right: -1px;
  top: -1px;
  background-color: #70c46a;
  border-radius: 0 3px 3px 0;
  width: 31px;
  height: 30px;
}

.dropdown_short .drop_arrow:after {
  border-width: 6px 3.5px 0 3.5px;
  border-color: #ffffff transparent transparent transparent;
  margin-left: -3.5px;
}

.dropdown_sm {
  background-color: #fff;
  height: 45px;
}

.dropdown_sm .drop_arrow {
  width: 45px;
  height: 45px;
}

.dropdown_sm .drop_arrow:after {
  border-width: 8px 6px 0 6px;
  border-color: #fff transparent transparent transparent;
  margin: -4px 0 0 -6px;
}

.options_dropdown_list UL LI {
  position: relative;
  padding: 0 0 0 10px;
}

.options_dropdown_list UL LI:before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #000;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 11px;
}

.options_dropdown_list UL LI A {
  text-decoration: none;
  color: #117f8a;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.options_dropdown_list UL LI A:hover {
  color: #000;
}

.options_dropdown_tile UL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0 0 0;
}

.options_dropdown_tile UL LI {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  margin: 0 3px 3px 0;
}

.options_dropdown_tile UL LI A {
  text-decoration: none;
  background-color: #f3f3f3;
  color: #000;
  padding: 5px 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.options_dropdown_tile UL LI A:hover {
  background-color: #117f8a;
  color: #fff;
}

.options_dropdown_tile UL LI.disabled {
  opacity: 0.5;
}

.options_dropdown_tile UL LI.disabled a {
  cursor: default;
}

.options_dropdown_tile UL LI.disabled a:hover {
  background-color: #f3f3f3;
  color: #000;
}

.zoom_photo {
  overflow: hidden;
  display: block;
}
.zoom_photo:hover img {
  transform: scale(130%);
}
.zoom_photo img {
  transition: 0.5s;
}

.toggle_list {
  display: flex;
  flex-wrap: wrap;
  padding-right: 60px;
}

.toggle_wrap {
  position: relative;
}

.toggle_wrap + .toggle_wrap {
  margin-left: 10px;
}

.toggle_btn {
  font-family: "Pangram";
  text-decoration: none;
  text-transform: uppercase;
  color: var(--btn-text);
  font-size: 12px;
  line-height: 1.4;
  display: flex;
  align-items: center;
  padding: 0 30px;
  width: max-content;
  height: 40px;
  border: 1px solid var(--btn-border);
  border-radius: var(--border-r-size);
  transition: 0.3s;
}
.toggle_btn span {
  margin-top: 3px;
}
.toggle_btn .icon {
  width: 9px;
  height: 9px;
  margin-left: 5px;
}

.toggle_wrap.active .toggle_btn,
.toggle_btn:hover {
  background-color: var(--btn-hover-bg);
}

.toggle_inner {
  flex-direction: column;
  max-width: 220px;
  width: max-content;
  padding: 15px 30px 12px 30px;
  border: 1px solid var(--btn-border);
  border-radius: var(--border-r-size);
  background-color: var(--btn-bg);
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  z-index: 1;
  display: none;
}
.toggle_inner label {
  margin-bottom: 10px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}
.toggle_inner label:hover {
  opacity: 0.7;
}
.toggle_inner input {
  display: none;
}
.toggle_inner input + span {
  padding-left: 20px;
  position: relative;
}
.toggle_inner input + span::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3;
}
.toggle_inner input:checked + span::before {
  opacity: 1;
  background-color: var(--btn-hover-bg);
}

.toggle_wrap.active .toggle_inner {
  display: flex;
}

.photo_anim {
  transition: 0.5s;
  transform: scale(1.3);
}

.show_top {
  transform: rotate3d(1, 0, 0, 90deg);
  transition: 0.5s;
  transform-origin: top;
}

.show_top.anim_finish {
  transform: none;
}

.site_header {
  display: flex;
  align-items: center;
  padding: 0 15px 0 20px;
  height: 48px;
  border: 1px solid var(--border-color);
  position: relative;
  transition: 0.3s;
}
.site_header.site_header-anim .open_menu::before, .site_header.site_header-anim .open_menu::after {
  animation: show_menu-btn 0.5s ease-in;
}
.site_header.site_header-anim .open_menu span {
  animation: show_menu-text 0.5s ease-in;
}
.site_header.site_header-anim .header_search span {
  animation: show_menu-text 0.5s ease-in;
}
.site_header.site_header-anim .header_logo img {
  animation: show_menu-logo 0.5s ease-in;
}
.site_header.site_header-anim .open_lang span {
  animation: show_menu-text 0.5s ease-in;
}
.site_header.site_header-anim .wishlist_btn span {
  animation: show_menu-text 0.5s ease-in;
}

.open_menu {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Pangram";
  font-size: 12px;
  line-height: 1.4;
  color: var(--link-color);
  padding: 6px 5px 6px 42px;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  overflow: hidden;
}
.open_menu:hover {
  opacity: 0.5;
}
.open_menu::before, .open_menu::after {
  content: "";
  width: 27px;
  height: 1px;
  background-color: var(--link-color);
  position: absolute;
  left: 0;
}
.open_menu::before {
  top: calc(50% + 2px);
}
.open_menu::after {
  bottom: calc(50% + 2px);
}
.open_menu span {
  display: block;
  position: relative;
}

.header_logo {
  display: block;
  width: 104px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.header_logo img {
  display: block;
  width: 100%;
  height: auto;
}

.toggle_lang {
  display: none;
}

.wishlist_btn {
  font-family: "Pangram";
  text-transform: uppercase;
  text-decoration: none;
  color: var(--link-color);
  font-size: 12px;
  line-height: 1.4;
  margin-left: auto;
  padding: 6px;
  transition: 0.3s;
  overflow: hidden;
}
.wishlist_btn:hover {
  opacity: 0.5;
}
.wishlist_btn span {
  display: block;
}

.header_search {
  display: none;
}

@keyframes show_menu-btn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes show_menu-text {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes show_menu-logo {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.site_footer {
  font-family: "Presicav";
  display: flex;
  flex-direction: column;
  margin-top: -1px;
  width: 100%;
  min-height: 100vh;
  max-height: 768px;
  background-color: var(--neutral-color);
  border: 1px solid var(--border-color);
}
.site_footer nav {
  display: block;
  height: max-content;
  padding: 20px 0 0 0;
}

.footer_menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  padding: 0 20px;
}
.footer_menu > li {
  margin-bottom: 40px;
}
.footer_menu > li > a {
  font-size: 4vw;
  line-height: 1.4;
  margin-bottom: 20px;
  text-transform: uppercase;
  transition: 0.3s;
}
.footer_menu > li > a:hover {
  opacity: 0.5;
}
.footer_menu ul {
  display: flex;
  flex-direction: column;
}
.footer_menu ul li {
  margin-bottom: 12px;
}
.footer_menu ul a {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.4;
  transition: 0.3s;
}
.footer_menu ul a:hover {
  opacity: 0.5;
}

.footer_subscribe {
  margin-top: auto;
  padding: 20px 30px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
.footer_subscribe form {
  position: relative;
}
.footer_subscribe input {
  width: 100%;
  padding-right: 65px;
}
.footer_subscribe button {
  position: absolute;
  top: 0;
  right: 0;
}

.subscribe_title {
  font-size: 4vw;
  line-height: 1.4;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
  width: 100%;
}

.copyright {
  font-family: "Pangram";
  font-size: 11px;
  line-height: 1.4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
  height: 78px;
}

.main_banner {
  width: 100%;
  min-height: calc(var(--vh, 1vh) * 100 - 58px);
  position: relative;
  border: 1px solid var(--border-color);
  border-top: none;
}

.big_slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.big_slider picture {
  display: block;
  width: 100%;
  height: 100%;
}
.big_slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.big_slider img.slider_anim {
  animation: show_banner-photo 1s ease-in;
}
.big_slider .slick-list {
  height: 100%;
}
.big_slider .slick-track {
  height: 100%;
}
.big_slider:not(.slick-initialized) {
  display: flex;
  overflow: hidden;
}
.big_slider:not(.slick-initialized) picture {
  flex: 0 0 100%;
  width: 100%;
}
.big_slider:not(.slick-initialized) picture:not(:first-child) {
  display: none;
}

.mini_slider {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 74.4vw;
  min-height: 50vh;
  max-width: 360px;
  background-color: var(--site_bg-color);
  border-top: 1px solid var(--border-color);
  z-index: 1;
}
.mini_slider::before {
  content: "";
  width: 94px;
  height: calc(100% - 94px);
  background-color: var(--neutral-color);
  position: absolute;
  bottom: 0;
  left: 100%;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  z-index: -1;
}
.mini_slider .slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 30px;
  min-height: 50vh;
  border-right: 1px solid var(--border-color);
  background-color: var(--site_bg-color);
}
.mini_slider a.arrow_link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mini_slider a.arrow_link::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.mini_slider .slick-list {
  height: 100%;
}
.mini_slider .slick-track {
  display: flex;
  align-items: flex-end;
  height: 100%;
}
.mini_slider .section_title {
  height: 50%;
  padding-bottom: 10px;
  overflow: hidden;
}
.mini_slider .slick-arrow {
  position: absolute;
  left: 100%;
  padding: 0 20px;
  font-size: 0;
  display: flex;
  align-items: center;
  width: 94px;
  height: 50px;
  z-index: -1;
}
.mini_slider .slick-prev.slick-arrow {
  justify-content: space-between;
  top: 94px;
}
.mini_slider .slick-prev.slick-arrow::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 9'%3E%3Cpath fill='%201E1E' d='M2.988 6.528C2.892 5.748 2.892 4.392 2.892 0H4.14C4.14 4.38 4.128 5.736 4.032 6.516L7.008 3.528L7.02 5.088L3.504 8.604L-3.33786e-06 5.088L0.0119967 3.54L2.988 6.528Z'%3E%3C/path%3E%3C/svg%3E");
  display: block;
  width: 8px;
  transform: rotate(90deg);
  transition: 0.3s;
  order: -1;
}
.mini_slider .slick-prev.slick-arrow:hover::after {
  transform: translateX(-3px) rotate(90deg);
}
.mini_slider .slick-prev.slick-arrow::before {
  content: attr(value);
  display: block;
  position: relative;
  font-size: 10px;
  order: 1;
}
.mini_slider .slick-next.slick-arrow {
  justify-content: space-between;
  bottom: 0;
}
.mini_slider .slick-next.slick-arrow::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 9'%3E%3Cpath fill='%201E1E' d='M2.988 6.528C2.892 5.748 2.892 4.392 2.892 0H4.14C4.14 4.38 4.128 5.736 4.032 6.516L7.008 3.528L7.02 5.088L3.504 8.604L-3.33786e-06 5.088L0.0119967 3.54L2.988 6.528Z'%3E%3C/path%3E%3C/svg%3E");
  display: block;
  width: 8px;
  transform: rotate(-90deg);
  transition: 0.3s;
  order: 1;
}
.mini_slider .slick-next.slick-arrow:hover::after {
  transform: translateX(3px) rotate(-90deg);
}
.mini_slider .slick-next.slick-arrow::before {
  content: attr(value);
  display: block;
  position: relative;
  font-size: 10px;
  order: -1;
}
.mini_slider:not(.slick-initialized) .slide:not(:first-child) {
  display: none;
}
.mini_slider:not(.slick-initialized)::before {
  display: none;
}
.mini_slider.mini_slider-anim {
  animation: show_mini-slider 0.6s ease-in;
}
.mini_slider.mini_slider-anim::before {
  animation: show_mini-slider 1.2s ease-in;
}
.mini_slider.mini_slider-anim .slick-arrow {
  animation: show_mini-slider 1.2s ease-in;
}

.slide_text {
  padding-top: 10px;
  display: flex;
  align-items: flex-end;
  height: 50%;
  width: 100%;
  overflow: hidden;
}

@keyframes show_mini-slider {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes show_banner-photo {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.banner_two {
  display: flex;
  flex-direction: column;
  min-height: calc(var(--vh, 1vh) * 100);
}

.banner_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(var(--vh, 1vh) * 50);
  padding: 20px;
  position: relative;
}
.banner_text .sub_title {
  padding-bottom: 10px;
}
.banner_text .arrow_link {
  width: 100%;
  justify-content: center;
  position: unset;
}
.banner_text .arrow_link::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.banner_text .slide_text {
  height: auto;
  text-align: right;
}
.banner_text.dark {
  background-color: var(--sub_main-color);
  color: var(--text-color-contrast);
}
.banner_text.dark .sub_title {
  color: var(--text-color-contrast);
}
.banner_text.dark .arrow_link {
  color: var(--text-color-contrast);
}
.banner_text.dark .arrow_link .icon {
  fill: var(--text-color-contrast);
}

.banner_photo {
  height: calc(var(--vh, 1vh) * 50);
  overflow: hidden;
}
.banner_photo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.three_photo {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 20px 20px;
  position: relative;
  border: 1px solid var(--border-color);
  border-top: none;
  transform: translateY(400px);
  transition: 1s;
}
.three_photo .three_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.three_photo .three_list a {
  font: inherit;
}
.three_photo.three_photo-anim {
  transform: translateY(0);
}

.first_img,
.second_img,
.third_img {
  display: block;
  width: 130px;
  height: 176px;
  overflow: hidden;
  border: 1px solid var(--border-color);
}
.first_img img,
.second_img img,
.third_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.three_photo.different_photos .first_img {
  width: 144px;
  height: 194px;
  margin-bottom: 125px;
}
.three_photo.different_photos .second_img {
  margin: 61px auto 0 0;
  width: 94px;
  height: 125px;
}
.three_photo.different_photos .third_img {
  margin: -95px 0 24px auto;
  width: 112px;
  height: 150px;
}
.three_photo.different_photos .btn {
  margin-top: 30px;
  width: 100%;
  max-width: 335px;
}

.first_img {
  margin: 0 auto 50px auto;
}

.second_img {
  margin: 60px auto 0 0;
}

.third_img {
  margin: -200px 0 24px auto;
}

.blog_slider {
  border: 1px solid var(--border-color);
  border-top: none;
}

.text_blog-wrap {
  border-bottom: 1px solid var(--border-color);
  z-index: 5;
}
.text_blog-wrap:not(.slick-initialized) {
  display: flex;
  overflow: hidden;
}
.text_blog-wrap:not(.slick-initialized) .text_blog {
  flex: 0 0 100%;
}
.text_blog-wrap.slick-initialized::before {
  content: "";
  margin-left: -98px;
  width: 97px;
  height: calc(var(--vh, 1vh) * 50 - 100px);
  background-color: var(--site_bg-color);
  position: absolute;
  bottom: calc(var(--vh, 1vh) * -50 - 1px);
  left: 0;
  border-right: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  transition: 0.8s;
}
.text_blog-wrap .slick-list {
  z-index: 3;
}
.text_blog-wrap .slick-arrow {
  position: absolute;
  margin-left: -98px;
  width: 97px;
  height: 50px;
  padding: 0 20px;
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 2;
  transition: 0.8s;
}
.text_blog-wrap .slick-arrow.slick-prev {
  left: 0;
  top: calc(100% + 100px);
}
.text_blog-wrap .slick-arrow.slick-prev::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 9'%3E%3Cpath fill='%201E1E' d='M2.988 6.528C2.892 5.748 2.892 4.392 2.892 0H4.14C4.14 4.38 4.128 5.736 4.032 6.516L7.008 3.528L7.02 5.088L3.504 8.604L-3.33786e-06 5.088L0.0119967 3.54L2.988 6.528Z'%3E%3C/path%3E%3C/svg%3E");
  display: block;
  width: 8px;
  transform: rotate(90deg);
  transition: 0.3s;
  order: -1;
}
.text_blog-wrap .slick-arrow.slick-prev:hover::after {
  transform: translateX(-3px) rotate(90deg);
}
.text_blog-wrap .slick-arrow.slick-prev::before {
  content: attr(value);
  display: block;
  position: relative;
  font-size: 10px;
  order: 1;
}
.text_blog-wrap .slick-arrow.slick-next {
  left: 0;
  bottom: calc(var(--vh, 1vh) * -50 - 1px);
}
.text_blog-wrap .slick-arrow.slick-next::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 9'%3E%3Cpath fill='%201E1E' d='M2.988 6.528C2.892 5.748 2.892 4.392 2.892 0H4.14C4.14 4.38 4.128 5.736 4.032 6.516L7.008 3.528L7.02 5.088L3.504 8.604L-3.33786e-06 5.088L0.0119967 3.54L2.988 6.528Z'%3E%3C/path%3E%3C/svg%3E");
  display: block;
  width: 8px;
  transform: rotate(-90deg);
  transition: 0.3s;
  order: 1;
}
.text_blog-wrap .slick-arrow.slick-next:hover::after {
  transform: translateX(3px) rotate(-90deg);
}
.text_blog-wrap .slick-arrow.slick-next::before {
  content: attr(value);
  display: block;
  position: relative;
  font-size: 10px;
  order: -1;
}
.text_blog-wrap.text_blog-anim::before {
  margin-left: 0;
}
.text_blog-wrap.text_blog-anim .slick-arrow {
  margin-left: 0;
}

.text_blog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 45px 20px;
  width: 100%;
  min-height: calc(var(--vh, 1vh) * 50);
  background-color: var(--neutral-color);
  position: relative;
  z-index: 3;
}
.text_blog .arrow_link {
  justify-content: center;
  margin: 15px 0;
}
.text_blog .arrow_link::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.text_blog time {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.photo_blog-wrap {
  height: calc(var(--vh, 1vh) * 50);
}
.photo_blog-wrap .slick-list {
  height: 100%;
}
.photo_blog-wrap .slick-track {
  height: 100%;
}

.photo_blog {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.photo_blog img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tiles_list {
  display: flex;
  flex-direction: column;
}

.tile_one {
  display: flex;
  flex-direction: column;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  border: 1px solid var(--border-color);
  border-top: none;
}

.tile_photo {
  display: block;
  width: 100%;
  height: calc(100% - 110px);
  border-bottom: 1px solid var(--border-color);
}
.tile_photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.tile_bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 110px;
  padding: 0 20px;
}
.tile_bottom .sub_title {
  display: none;
}
.tile_bottom .arrow_link {
  order: 1;
}
.tile_bottom .section_title {
  margin-bottom: 10px;
}

.show_all {
  width: 100%;
  height: calc(var(--vh, 1vh) * 80);
  position: relative;
  border-bottom: 1px solid var(--border-color);
  overflow: hidden;
}
.show_all img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.show_all .btn {
  position: absolute;
  width: 335px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tiles_element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 20px 20px 30px;
  width: 100%;
  min-height: calc(var(--vh, 1vh) * 50);
  border: 1px solid var(--border-color);
  border-top: none;
  position: relative;
}
.tiles_element a.arrow_link {
  justify-content: center;
  margin: 15px 0;
}
.tiles_element a.arrow_link::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.tiles_element:nth-child(odd) {
  background-color: var(--neutral-color);
  color: var(--text-color);
}
.tiles_element:nth-child(even) {
  background-color: var(--sub_main-color);
  color: var(--text-color-contrast);
}
.tiles_element:nth-child(even) .main_title {
  color: var(--text-color-contrast);
}
.tiles_element:nth-child(even) a.arrow_link {
  color: var(--text-color-contrast);
}
.tiles_element:nth-child(even) a.arrow_link .icon {
  fill: var(--text-color-contrast);
}

.tiles_text {
  text-align: end;
  margin-left: auto;
  width: 165px;
}

.items_grid {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.stories-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 109px;
  padding: 0 20px;
  border-bottom: 1px solid var(--border-color);
}

.items_grid-list {
  display: flex;
  flex-direction: column;
}

.item_grid-one {
  border-bottom: 1px solid var(--border-color);
  height: calc(var(--vh, 1vh) * 85);
  min-height: 500px;
}

.item_grid-image {
  width: 100%;
  height: 67%;
  border-bottom: 1px solid var(--border-color);
}
.item_grid-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item_grid-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 30px 30px 30px;
  height: 33%;
}
.item_grid-info .item_title {
  max-height: 50px;
  overflow: hidden;
}

.item_grid-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item_grid-bottom .arrow_link {
  padding: 10px 0 10px 10px;
}

.description {
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}
.description figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px;
  border-bottom: 1px solid var(--border-color);
}
.description figure .sub_title {
  text-align: center;
}

.desc_images {
  display: block;
  border: 1px solid var(--border-color);
  margin-bottom: 50px;
}
.desc_images img {
  width: 100%;
  min-height: 200px;
  object-fit: cover;
  height: auto;
}

.description_list li {
  font-family: "Presicav";
  font-size: 15px;
  line-height: 1.4;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  padding: 24px 20px 30px 20px;
  border-bottom: 1px solid var(--border-color);
}
.description_list li b {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 10px;
  font-weight: 400;
}