@charset "UTF-8";
@font-face {
  font-family: "Presicav";
  src: url("../fonts/PresicavLt-Regular.eot");
  src: url("../fonts/PresicavLt-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PresicavLt-Regular.woff") format("woff"), url("../fonts/PresicavLt-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Pangram";
  src: url("../fonts/Pangram-Regular.eot");
  src: url("../fonts/Pangram-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Pangram-Regular.woff") format("woff"), url("../fonts/Pangram-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cabin";
  src: url("../fonts/Cabin-Medium.eot");
  src: url("../fonts/Cabin-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Cabin-Medium.woff") format("woff"), url("../fonts/Cabin-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* variables */
:root {
  --main-color: #F5F4EB;
  --neutral-color: #CDCDC3;
  --sub_main-color: #201E1E;
  --text-color: #201E1E;
  --btn-border: #201E1E;
  --btn-bg: #F5F4EB;
  --btn-text: #201E1E;
  --btn-hover-border: #201E1E;
  --btn-hover-bg: #CDCDC3;
  --btn-hover-text: #201E1E;
  --btn-contrast-border: #201E1E;
  --btn-contrast-bg: #201E1E
  --btn-contrast-text: #F5F4EB;
  --btn-contrast-hover-border: #201E1E;
  --btn-contrast-hover-bg: #CDCDC3;
  --btn-contrast-hover-text: #201E1E;
  --link-color: #201E1E;
  --input-border: #201E1E;
  --input-bg: #F5F4EB;
  --input-text: #201E1E;
  --icon-color: #201E1E;
  --border-color: #201E1E;
  --error-color: #F18968;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

menu,
ul,
ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track::before, .slick-track::after {
  content: "";
  display: table;
}
.slick-track::after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

BODY, HTML {
  font-family: "Presicav", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  min-width: 360px;
  height: 100%;
  color: var(--text-color);
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--main-color);
}

a:active {
  color: inherit;
  /* НЕ УДАЛЯТИ */
}

.hidden {
  display: none !important;
}